services:
  workers:
    working_dir: /app/
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    environment:
      CELERY_BROKER_URL: redis://redis:6379/1
    command: >
      bash -c "celery -A queryzen_api worker -l INFO"
    healthcheck:
      test: [ "CMD", "poetry", "run", "celery", "-A", "queryzen_api", "status" ]
      interval: 30s
      timeout: 10s
      retries: 5


  redis:
    image: redis:7.4
    restart: on-failure
    ports:
      - '6379:6379'
    volumes:
      - ./dev/redis/:/data

  crate:
    image: crate:latest
    ports:
      - "4200"


  flower:
    image: mher/flower
    environment:
      CELERY_BROKER_URL: redis://redis:6379/1
      CELERY_RESULT_BACKEND: redis://redis:6379/1
    ports:
      - 5555:5555
    depends_on:
      - workers
      - redis
